.go_back {
  position: relative;
}

.go_back span {
  position: absolute;
  top: -4%;
  left: 0;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.3);
}

.all h2 {
  text-align: center;
  margin-bottom: 80px;
  font-size: 36px;
}

.all ul {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.all ul li {
  text-align: center;
}

.all ul li .text_box h4 {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.all ul li .text_box p,
.all ul li .text_box span {
  font-size: 16px;
}

.all ul li a .img {
  width: 340px;
  height: 340px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.all ul li a .img_01 {
  background-image: url(../images/graphic/graphic_01.jpg);
}
.all ul li a .img_02 {
  background-image: url(../images/graphic/graphic_02.jpg);
}
.all ul li a .img_03 {
  background-image: url(../images/graphic/graphic_03.jpg);
}
.all ul li a .img_04 {
  background-image: url(../images/graphic/graphic_04.jpg);
}
.all ul li a .img_05 {
  background-image: url(../images/graphic/graphic_05.jpg);
}
.all ul li a .img_06 {
  background-image: url(../images/graphic/graphic_06.jpg);
}

/* ============================================== */

@media (max-width: 768px) {
  .go_back {
    position: relative;
  }

  .go_back span {
    position: absolute;
    top: -4%;
    left: 0;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.3);
  }

  .all h2 {
    text-align: center;
    margin-bottom: 80px;
    font-size: 24px;
  }

  .all ul {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }

  .all ul li {
    text-align: center;
  }

  .all ul li .text_box h4 {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .all ul li .text_box p,
  .all ul li .text_box span {
    font-size: 14px;
  }

  .all ul li a .img {
    width: 270px;
    height: 270px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
