.section_01 {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 100px;
}

.section_01 .img_box {
  margin-right: 70px;
}

.section_01 .img_box .thumb {
  width: 240px;
  height: 364px;
  background-color: #f4f4f4;
  background-image: url('../images/introduce/표정만두.svg');
  background-position: center;
  background-size: 160%;
  background-repeat: no-repeat;
  margin-bottom: 15px;
}

.section_01 .img_box h2 {
  width: 240px;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section_01 .text_box h2 {
  margin-bottom: 71px;
  font-size: 36px;
}

.section_01 .text_box ul li h3 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 400;
}

.section_01 .text_box ul li p {
  margin-bottom: 135px;
  font-size: 20px;
  font-weight: 400;
}

/* section_02 */
.section_02 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.section_02 h2 {
  font-size: 24px;
  margin-bottom: 100px;
}

.section_02 ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.section_02 ul li {
  /* display: flex; */
  position: relative;
  margin-bottom: 100px;
}

.section_02 ul li .text_box {
  width: 200px;
  height: 200px;
  background-color: #bebebe;
  border-radius: 200px;
  margin-bottom: 10px;
}

.section_02 ul li .text_box .title {
  padding-top: 70px;
  font-size: 24px;
  color: #fff;
}

.section_02 ul li .arrow {
  position: absolute;
  font-size: 80px;
  top: 50%;
  right: 0;
  transform: translate(120%, -50%);
  color: var(--pink);
}

/* section_03 */
.section_03 {
  margin-top: 100px;
}

.section_03 h2 {
  margin-bottom: 109px;
}

.section_03 .sns_box {
  width: 870px;
  height: 370px;
  background-color: #ff8888;
  margin: 0 auto;
  border: 10px solid #000;
}

.section_03 .sns_box ul {
  display: flex;
  justify-content: space-around;
}

.section_03 .sns_box ul li {
  margin-top: 70px;
}

.section_03 .sns_box ul li i {
  font-size: 160px;
  margin-bottom: 20px;
  display: block;
  text-align: center;
}

.section_03 .sns_box ul li .info {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}

/* ========================================================= */

@media (max-width: 768px) {
  .top {
    margin-bottom: 60px;
  }

  .section_01 {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .section_01 .img_box {
    margin-right: initial;
    margin-bottom: 40px;
  }

  .section_01 .img_box .thumb {
    width: 100%;
    height: 364px;
    background-color: #f4f4f4;
    background-image: url('../images/introduce/표정만두.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 15px;
  }

  .section_01 .img_box h2 {
    font-size: 28px;
    margin: 0 auto;
  }

  .section_01 .text_box h2 {
    font-size: 24px;
  }

  .section_01 .text_box ul li h3 {
    font-size: 20px;
  }

  .section_01 .text_box ul li p {
    font-size: 18px;
    margin-bottom: 80px;
  }

  .section_01 .text_box ul li:last-child p {
    margin-bottom: 60px;
  }

  /* section_02 */
  .section_02 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  .section_02 h2 {
    font-size: 24px;
    margin-bottom: 60px;
  }

  .section_02 ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 60px;
  }

  .section_02 ul li {
    margin-bottom: initial;
  }

  .section_02 ul li .text_box {
    width: 140px;
    height: 140px;
  }

  .section_02 ul li .text_box .title {
    padding-top: 50px;
    font-size: 18px;
    color: #fff;
  }

  .section_02 ul li .arrow {
    display: none;
  }

  /* section_03 */
  .section_03 {
    margin-top: 60px;
  }

  .section_03 h2 {
    margin-bottom: 60px;
  }

  .section_03 .sns_box {
    width: 100%;
    height: initial;
    background-color: #ff8888;
    margin: 0 auto;
    border: 6px solid #000;
  }

  .section_03 .sns_box ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .section_03 .sns_box ul li {
    margin-top: initial;
    padding: 10px 0;
  }

  .section_03 .sns_box ul li i {
    font-size: 60px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
  }

  .section_03 .sns_box ul li .info {
    text-align: center;
    font-weight: 700;
    font-size: 12px;
  }
  .section_03 .sns_box ul li:last-child .info {
    letter-spacing: -1px;
  }
}
