/* hero */
.hero {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 543px;
}

.hero::after {
  content: '';
  display: block;
  width: 1140px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.hero .text_box {
  position: absolute;
  top: 54px;
  left: 0;
}

.hero .text_box h2 {
  font-size: 30px;
  margin-bottom: 34px;
}

.hero .text_box p {
  font-size: 20px;
  margin-bottom: 86px;
}

.hero .text_box button {
  width: 126px;
  height: 59px;
  border-radius: 30px;
  color: #fff;
  background-color: var(--pink);
  border: none;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 45px;
  cursor: pointer;
}

.hero .text_box button:hover {
  background-color: #000;
  color: #fff;
  font-size: 20px;
  transition: 0.5s;
}

.hero .text_box ul {
  display: flex;
}

.hero .text_box ul li {
  margin-right: 30px;
  font-size: 28px;
}

.hero .hero_img {
  position: absolute;
  top: 0;
  right: 0;
  width: 440px;
  height: 440px;
  border-radius: 440px;
  background-image: url('../images/home/images/me.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: -10px -10px 0 rgba(0, 0, 0, 0.04);
  display: inline-block;
}

/* skills */
.skills {
  margin-top: 100px;
  margin-bottom: 100px;
}

.skills h2 {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  font-size: 30px;
  font-weight: 700;
}

.skills ul.three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  margin-bottom: 100px;
}

.skills::after {
  display: block;
  content: '';
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.skills ul li.box {
  background-color: #f6f6f6;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ccc;
}

.skills ul li.box h3 {
  font-size: 22px;
  color: #1b1b1b;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ddd;
  text-align: center;
}

.skills ul li.box:nth-child(1) h3 {
  background-color: #ffe5e5;
}

.skills ul li.box:nth-child(2) h3 {
  background-color: #ffe9dc;
}

.skills ul li.box:nth-child(3) h3 {
  background-color: #e1dcff;
}

.skills ul li.box p {
  height: 180px;
  font-size: 16px;
  padding: 30px 20px;
}

.skills ul ul {
  display: flex;
  padding: 10px 20px;
  gap: 10px;
}

/* product */
.product .product_top {
  margin-bottom: 40px;
  position: relative;
}

.product .product_top h3 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.product .product_top button {
  width: 75px;
  height: 32px;
  background-color: #000;
  color: #fff;
  border-radius: 32px;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(50%);
}

.product .product_top button:hover {
  background-color: var(--pink);
  border: none;
  transition: 0.3s;
}

.product .list .thumb {
  width: 340px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-size: 90%;
}

.product .list li .thumb.thumb_01 {
  background-image: url('../images/home/images/graphic.png');
  background-size: contain;
}

.product .list li .thumb.thumb_02 {
  background-image: url('../images/home/images/UIUX.png');
}

.product .list li .thumb.thumb_03 {
  background-image: url('../images/home/images/publishing.png');
}

.product .list li {
  display: flex;
  gap: 60px;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid #ddd;
}

.product .list li:last-child {
  border: none;
}

.product .list li .text_box span {
  display: inline-block;
  width: 79px;
  height: 25px;
  background-color: var(--pink);
  color: #fff;
  border-radius: 25px;
  text-align: center;
  margin-right: 20px;
}

.product .list li .text_box p.list {
  color: #959595;
  padding: 100px 0 60px;
}

.product .list li .text_box p.info {
  font-size: 18px;
  top: 70%;
}

/* ============================================== */

@media (max-width: 768px) {
  .top {
    margin-bottom: 127px;
  }

  /* hero */
  .hero {
    position: relative;
    height: 400px;
  }

  .hero::after {
    content: '';
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  .hero .text_box {
    position: absolute;
    top: 54px;
    left: 0;
  }

  .hero .text_box h2 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .hero .text_box p {
    font-size: 14px;
    margin-bottom: 100px;
  }

  .hero .text_box button {
    position: absolute;
    top: 180px;
    right: 0;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    color: #fff;
    background-color: var(--pink);
    border: none;
    font-size: 13px;
    font-weight: 700;
  }

  .hero .text_box ul {
    display: flex;
    top: 250px;
    left: 0;
    position: absolute;
  }

  .hero .text_box ul li {
    margin: 0 20px 0 0;
    font-size: 20px;
  }

  .hero .hero_img {
    position: absolute;
    top: -100px;
    right: 0;
    width: 160px;
    height: 160px;
    border-radius: 120px;
    background-image: url('../images/home/images/me.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    display: inline-block;
  }

  /* skills */
  .skills {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .skills ul.three {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 60px;
    margin-bottom: 100px;
  }

  /* product */

  .product .product_top {
    margin-bottom: 0;
  }

  .product .list li {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 60px;
    border-bottom: 1px solid #ddd;
  }

  .product .list li:last-child {
    padding-bottom: initial;
  }

  .product .list .thumb {
    width: 100%;
    height: 300px;
  }

  .product .list li .text_box p.list {
    padding: 20px 0 16px;
  }

  .product .product_top button {
    width: 75px;
    height: 32px;
    background-color: #000;
    color: #fff;
    border-radius: 32px;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    top: -8px;
    right: 0;
    transform: translateY(50%);
  }
}
